.btn-return {
    margin-top: 23px;
    margin-left: 50px;
    font-weight: bold;
}

.form-title {
    padding-top: 20px;
}

.filter-date{
    margin-left: 25px;
}

.btn-search{
    width: 150px;
    height: 38px;
}

.select-importer{
    margin-left:-45px;
}