  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .nav-item-font-size {
    font-size: 20px;
    font-weight: bold;
    color: #292121 !important;
  }

  .navbar-image {
    height: 50px;
    padding-right: 15px;
    margin: 0px !important;
  }


  .dropdown-header-text {
    color: #292121 !important;
  }

  .cursor{
    cursor: pointer;
  }