.form-title {
    padding-top: 20px;
}

.btn-return {
    margin-top: 23px;
    margin-left: 50px;
    font-weight: bold;
}

.input-search {
    max-width: 350px;
    margin-left: 10px;
    margin-top: -7px;
  }
  
  .filter-add-row {
    margin-bottom: 10px;
    margin-top: 25px;
  }

  .grid-button {
    border-radius: 0px;
  }
  
  .grid-button-column {
    width: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .icons-column-row {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
  }

  .btn-addfolder {
    margin-bottom: 5px;
    min-width: 150px;
  }